/*  your css code here. If applicable */
section{
	padding:15px;
	background-color:#f5f5f5;
}
.testimonials{
	padding:10px;
	border:1px solid grey;
	background-color:white;
}
.author{
	text-align:right;
	font-style:italic;
}