/*  your css code here. If applicable */
section{
	padding:15px;
	background-color:#f5f5f5;
}
.testimonials{
	padding:4px;
	border:1px solid grey;
	background-color:white;
	margin-top:5px;
}
.author{
	text-align:right;
	font-style:italic;
}